
.pri-heading{
    font-size: 32px;
    font-weight: bold;
    color: var(--text-pri);
    text-transform: capitalize;
    margin-bottom: 25px;
}

.sec-heading{
    font-size: 22px;
    color: var(--text-sec);
    margin-bottom: 25px;
    font-weight: 400;
}
.para{
    font-size: 16px;
    color: var(--text-ter);
    margin-bottom: 40px;
    font-weight: 400;
}

.socialLinks ul{
    display: inline-block;
    padding: 0;
}

.socialLinks ul li{
    display: inline-block;
}

.socialLinks ul a:is(:link, :visited){
    display: inline-block;
    font-size: 40px;
    color: var(--color-dark);
    margin-right: 40px;
    transition: all .4s linear;
}

.socialLinks ul a:is(:hover, :focus, :active){
    transform: scale(1.5) rotate(-360deg) perspective(20px);
}

.footer .pri-heading{
    color: var(--color-pri);
    font-weight: 400;
}

.footer .sec-heading{
    color: var(--text-quat);
    padding: 0 40px;
    margin-bottom: 40px;
}

.footer .socialLinks i{
    color: var(--color-pri);
}

.footer .socialLinks{
    margin-bottom: 130px;

}